Repository PaperMC/Paper, pull requests merged in 2025-03, with the labels that each got.

#12199 Add client tick end event
  paper-api/src/main/java/io/papermc/paper/event/packet/ClientTickEndEvent.java
  paper-server/patches/sources/net/minecraft/server/network/ServerGamePacketListenerImpl.java.patch
Labels: type: feature, scope: api

#12287 Refine recipe management API documentation.
  paper-api/src/main/java/org/bukkit/Bukkit.java
  paper-api/src/main/java/org/bukkit/Server.java
Labels: type: documentation, scope: api

#12248 feat: add event to wind charge explode
  paper-server/patches/sources/net/minecraft/world/entity/projectile/windcharge/BreezeWindCharge.java.patch
  paper-server/patches/sources/net/minecraft/world/entity/projectile/windcharge/WindCharge.java.patch
Labels: type: feature, scope: api

#12302 Skull - get/set customName
  build-data/paper.at
  paper-api/src/main/java/org/bukkit/block/Skull.java
  paper-server/src/main/java/org/bukkit/craftbukkit/block/CraftSkull.java
Labels: type: feature, scope: api

#12282 InventoryView QOL open method
  build-data/paper.at
  paper-api/src/main/java/org/bukkit/inventory/InventoryView.java
  paper-server/src/main/java/org/bukkit/craftbukkit/entity/CraftHumanEntity.java
  paper-server/src/main/java/org/bukkit/craftbukkit/inventory/CraftAbstractInventoryView.java
Labels: type: feature, scope: api

#12268 Fix Firework not removed when FireworkExplodeEvent is canceled
  paper-server/patches/features/0003-Entity-Activation-Range-2.0.patch
  paper-server/patches/sources/net/minecraft/world/entity/projectile/FireworkRocketEntity.java.patch
  paper-server/src/main/java/org/bukkit/craftbukkit/event/CraftEventFactory.java
Labels: type: bug

#12311 ChunkGenerator - add getHeight to ChunkData
  paper-api/src/main/java/org/bukkit/generator/ChunkGenerator.java
  paper-server/src/main/java/org/bukkit/craftbukkit/generator/CraftChunkData.java
  paper-server/src/main/java/org/bukkit/craftbukkit/generator/OldCraftChunkData.java
Labels: type: feature, scope: api

#12330 Add flush parameter to World#save
  paper-api/src/main/java/org/bukkit/World.java
  paper-server/src/main/java/org/bukkit/craftbukkit/CraftWorld.java
Labels: scope: api

#12327 RideCommand - config to remove player as vehicle restriction
  paper-server/patches/sources/net/minecraft/server/commands/RideCommand.java.patch
  paper-server/src/main/java/io/papermc/paper/configuration/GlobalConfiguration.java
Labels: scope: configuration

#12224 Add ItemStack#copyDataFrom
  paper-api/src/main/java/io/papermc/paper/registry/RegistryKey.java
  paper-api/src/main/java/org/bukkit/inventory/ItemStack.java
  paper-server/src/main/java/org/bukkit/craftbukkit/inventory/CraftItemStack.java
Labels: type: feature, scope: api
